/javascope-agent/target/
/stockmind-bootstrap/target/
/stockmind-common/target/
/.mvn-settings.xml
/.idea/
/.agentscope/
/javascope-agent-core/target/
/javascope-agent-model-openai/target/
/javascope-agent-spi/target/
/javascope-agent-spring-boot-starter/target/
/javascope-agent-context/target/
/stockmind-infrastructure/target/
/stockmind-domain/target/
/stockmind-application/target/
